@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.hero{
    color: $primary-light;
    margin-bottom: 150px;

    &__img-mobile{
        width: 100vw;
    }
    &__img-desktop{
        display: none;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 40px;
        background-color: $secondary-dark;
        margin-top: -175px;
    }
    &__title{
        @include section-header;
        padding: 20px 10px;
    }
    &__text{
        @include body;
        display: flex;
        align-items: center;
        align-content: center;

    }
    &__btn{
        width: 146px;
        height: 40px;
        border: $primary-light 1px solid;
        background-color: $secondary-dark;
        color: $primary-light;
        @include footer-btns;
        margin-top: 40px;

        &:hover{
            background-color: $primary-light;
            color: $secondary-dark;
        }
    }
    &__swirl-top-mobile{
        margin-top: -4px;
    }
    &__swirl-bottom-mobile{
        position: absolute;
        left: 250px;
        bottom: -500px;
    }
    &__swirl-top-desktop, &__swirl-bottom-desktop{
        display: none;
    }

    @include tablet{
        &__img-mobile{
            display: none;
        }
        &__img-desktop{
            width: 540px;
            height: 650px;
        }
    }
    @include desktop{

        &__img-mobile{
            display: none;
        }
        &__img-desktop{
            display: block;
            position: absolute;
            width: 540px;
            height: 650px;
            left: 735px;
            top: 185px;
        }
        &__content{
            align-items: flex-start;
            padding: 0px 750px 0 100px;
            width: 100vw;
            height: 600px;
            margin-top: 0;
            margin-bottom: 300px;
        }
        &__swirl-top-desktop{
            display: block;
            position: absolute;
            left: 0;
            top: 510px;
            // bottom: -100px;
        }
        &__swirl-bottom-desktop{
            display: block;
            position: absolute;
            right: -28px;
            bottom: 170px;
        }
         &__swirl-top-mobile, &__swirl-bottom-mobile{
            display: none;
        }
    
    }
}