@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.hero{
    color: $primary-light;
    margin-bottom: 150px;

    &__img{
        width: 100%;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 40px;
        background-color: $secondary-dark;
        margin-top: -175px;
    }
    &__title{
        @include section-header;
        padding: 20px 10px;
    }
    &__title-br{
        @include section-header;
    }
    &__text{
        @include body;
        display: flex;
        align-items: center;
        align-content: center;

    }
    &__btn{
        width: 146px;
        height: 40px;
        border: $primary-light 1px solid;
        background-color: $secondary-dark;
        color: $primary-light;
        @include footer-btns;
        margin-top: 40px;
    }
    &__swirl-top{
        margin-top: -4px;

    }
    &__swirl-bottom{
        position: absolute;
        left: 250px;
        bottom: -450px;
    }

    @include tablet{

    }
    @include desktop{

    }
}