@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.hero{
    color: $primary-light;
    margin-bottom: 9.375rem;

    &__img-mobile{
        width: 100vw;
    }
    &__img-desktop{
        display: none;
    }
    &__content{
        @include flex-column;
        justify-content: center;
        align-items: center;
        padding: 5rem 2.5rem;
        background-color: $secondary-dark;
        margin-top: -10.9375rem;
    }
    &__title{
        @include section-header;
        padding: 1.25rem .625rem;
    }
    &__text{
        @include body;
        display: flex;
        align-items: center;
        align-content: center;

    }
    &__btn{
        width: 9.125rem;
        height: 2.5rem;
        border: $primary-light .0625rem solid;
        background-color: $secondary-dark;
        color: $primary-light;
        @include footer-btns;
        margin-top: 2.5rem;

        &:hover{
            background-color: $primary-light;
            color: $secondary-dark;
        }
    }
    &__swirl-top-mobile{
        margin-top: -0.25rem;
    }
    &__swirl-bottom-mobile{
        position: absolute;
        left: 15.625rem;
        bottom: -31.25rem;
    }
    &__swirl-top-desktop, &__swirl-bottom-desktop{
        display: none;
    }

    @include tablet{
        &__img-mobile{
            display: none;
        }
        &__img-desktop{
            width: 33.75rem;
            height: 40.625rem;
        }
    }
    @include desktop{

        &__img-mobile{
            display: none;
        }
        &__img-desktop{
            display: block;
            position: absolute;
            width: 33.75rem;
            height: 40.625rem;
            left: 45.9375rem;
            top: 11.5625rem;
        }
        &__content{
            align-items: flex-start;
            padding: 0 46.875rem 0 6.25rem;
            width: 100vw;
            height: 37.5rem;
            margin-top: 0;
            margin-bottom: 18.75rem;
        }
        &__swirl-top-desktop{
            display: block;
            position: absolute;
            left: 0;
            top: 510px;
            // bottom: -100px;
        }
        &__swirl-bottom-desktop{
            display: block;
            position: absolute;
            right: -1.75rem;
            bottom: 10.625rem;
        }
         &__swirl-top-mobile, &__swirl-bottom-mobile{
            display: none;
        }
    
    }
}