@use './variables' as *;
@use './typography' as *;

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
};

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
};


@mixin section-header {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    font-family: "DM Serif Display";

    @include tablet {
        font-size: 4.5rem;
        line-height: 4rem;
    };
    @include desktop {
        font-size: 4.5rem;
        line-height: 4rem;
    }
}

@mixin subheader{
    font-size: 1.75rem;
    line-height: 2.4375rem;
    font-weight: 400;
    font-family: "DM Serif Display";
}

@mixin body {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    font-family: "Karla";
}

@mixin work-font{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-family: "DM Serif Display";
    
    @include tablet {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    @include desktop {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}

@mixin footer-btns{
    font-size: .8125rem;
    line-height: .9375rem;
    font-weight: 700;
    font-family: "Karla";
}

@mixin menu{
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    font-family: "Karla";
}




// FLEX BOX
@mixin flex-row{
    display: flex;
    flex-flow: row;
}

@mixin flex-column{
    display: flex;
    flex-flow: column;
}

@mixin flex-column-align-center{
    display: flex;
    flex-flow: column;
    align-items: center;
}

@mixin align-items-center{
    display: flex;
    align-items: center;
}

@mixin justify-content-center{
    display: flex;
    justify-content: center;
}

@mixin justifyContent-alignItems-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin justifyContent-alignContent-center{
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin justify-evenly{
    display: flex;
    justify-content: space-evenly;
}
@mixin justify-between{
    display: flex;
    justify-content: space-between;
}