@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.different{
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;

    &__main-title{
        @include section-header;
        border-top: 1px solid $purple;
        padding-top: 60px;
        text-align: center;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
    &__img{
        width: 86px;
        height: 86px;
    }
    &__title{
        @include subheader;
    }
    &__text{
        @include body;
        color: $primary-grey;
        text-align: center;
    }
}