@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.different{
    @include flex-column;
    margin-bottom: 8.125rem;

    &__main-title{
        @include section-header;
        border-top: .0625rem solid $purple;
        padding-top: 3.75rem;
        text-align: center;
    }
    &__wrapper{
        @include flex-column;
        align-items: center;
        justify-content: center;
        margin: 3.125rem 1.875rem 0 1.875rem;
        gap: 20px;
    }
    &__img{
        width: 5.375rem;
        height: 5.375rem;
    }
    &__title{
        @include subheader;
    }
    &__text{
        @include body;
        color: $primary-grey;
        text-align: center;
    }
    @include desktop{
        @include flex-column;
        margin: 8.125rem 6.25rem;

    &__main-title{
        text-align: left;
        margin-left: 2.5rem;
    }
    &__sections{
        @include flex-row;
        align-items: flex-start;
        margin: 3.125rem 1.25rem 0 1.25rem;
    }
    &__wrapper{
        @include flex-column;
        align-items: flex-start;
        justify-content: center;
        margin: 3.125rem 1.875rem 0 1.875rem;
        gap: 1.25rem;
    }
    &__img{
        width: 5.375rem;
        height: 5.375rem;
    }
    &__title{
        @include subheader;
    }
    &__text{
        @include body;
        color: $primary-grey;
        text-align: start;
    }
    }
}