@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.work{
    background-color: $secondary-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 10px;
    margin: 30px 15px 150px 15px;
    height: 330px;

    &__title{
        @include work-font;
        color: $primary-light;
        text-align: center;
        margin-bottom: 50px;
    }
    &__btn{
        @include footer-btns;
        background-color: $primary-dark;
        border: $primary-light 1.5px solid;
        color: $primary-light;
        width: 160px;
        padding: 15px 0;
    }
    @include tablet{}
    @include desktop{  display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 80px 10px;
        height: 250px;
        margin: 110px 150px;
    
        &__title{
            @include work-font;
            color: $primary-light;
            display: flex;
            align-self: flex-start;
        }
        &__btn{
            width: 160px;
        }}
}